body {
  background-image: url(../imgs/queVendes_1.jpg);
}

#contenedorPrincipal {
  border: 3px solid rgb(182, 99, 90);
  width: 92%;
  height: 95%;
  margin: auto;
}

#encabezado {
  color: salmon;
  font-weight: bolder;
  font-size: large;
  height: 100%;
}

#iframeContent {
  width: 100%;
  height: 100%;
}

#contenido {
  height: 470px;
}

/* Login */

#formLogin {
  margin: 5px;
}
