body {
  background-image: url(../imgs/queVendes_1.jpg);
}

#contenedorPrincipal {
  border: 3px solid black;
  width: 90%;
  margin: auto;
  box-shadow: 5px 5px gray;
}

#encabezado {
  color: white;
  height: 100%;
  background-size: auto;
}

#iframeContent {
  width: 100%;
  height: 400px;
}

#contenido {
  height: 400px;
}

/* Login */

#formLogin {
  margin: 5px;
}
